.header{
    background-color: #a7ffff;
    min-height: 120px;

    h1{
        font-family: skautbold, serif;
        font-size: 40px;
        margin: 10px 0 0;
        letter-spacing: 10px;
    }

    h3{
        margin: 0;
        font-family: skautbold, serif;
        font-size: 20px;
    }

    .homeButton{
        text-align: left;
        position: absolute;
        font-size: xx-large;
        top: 0;
        margin-top: 30px;
        margin-left: 50px;
    }


    @media only screen and (max-width: 600px) {
        .homeButton{
            text-align: center;
            position: relative;
            font-size: xx-large;
            margin: 0;
        }

        .Header{
            min-height: 150px;
        }
    }
}
