.footer{
    background-color: #a7ffff;
    min-height: 40px;
    bottom: 0;

    .version{
        text-align: left;
        margin-left: 10px;
        margin-bottom: 10px;
        padding-top: 10px ;
    }
}
