.ShowPoints {
  .myTable {
    margin: auto;
    padding: 20px 100px;
  }

  .myTable tr td {
    font-weight: 600;
  }

  .myTable tr th {
    font-weight: 900;
  }

  @media only screen and (max-width: 600px) {
    .myTable {
      margin: auto;
      padding: 20px 5px 0;
    }

    .myTable tr td {
      font-weight: 500;
      font-size: smaller;
    }

    .myTable tr th {
      font-weight: 700;
    }
  }

  thead th {
    background-color: rgba(115, 255, 0, 0.4) !important;
  }

  .table-row-dark {
    background-color: rgba(115, 255, 0, 0.1);
  }

  .table-row-light {
    background-color: #fff;
  }
}