.mobileSwipe{
    margin: 15px auto auto;
    height: 500px;
    background-image: url("/../public/images/swipe.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}