.TinderCard{
  width: 200px;
  height: 300px;
  border: black 1px solid;
  border-radius: 15px;
  background-color: #44ddff;
  margin: auto;

  .Name{
    margin-top: 65px;
    word-spacing: 200px;
    line-height: 50px;
    font-size: 22px;
    letter-spacing: 2px;
  }
}

.card {
  position: relative;
}