.App {
  text-align: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: #00a5c2;
  }

  .ant-layout-header{
    padding: 0;
    margin: 0;
    height: auto;
  }

  .ant-layout-content{
    padding: 0;
    margin: 0;
    background-color: #c4ffff;
  }

  .ant-layout-footer{
    padding: 0;
    margin: 0;
  }

}