.listItem{
    margin: 0;


    .moveButton{
        margin: 5px 15px 5px 15px;
    }

    .oneItem{
        margin: 0;
        font-size: 17px;
    }

    .right{
        text-align: left;
    }

    .left{
        text-align: right;
    }

}