.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  width: 300px;
  height: 200px;

  .text{
    font-size: 35px;
    font-family: "SKAUT Bold", serif;
  }

}